@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Joan&family=Poppins:wght@500&display=swap");
body {
  font-family: "Finlandica", sans-serif;
  margin: 0 !important;
  background-color: black !important;
}
.main-title {
  font-family: fantasy;
  font-style: italic;
}
.p-title {
  font-size: 1.5em;
}
